h1 {
  color: blue;
  text-align: center;
  font-size: 50;
  }

.first {
  text-align: center;
  font-size: 30;
  }

.topleft {
  position:absolute;
  right: 100px;
}
h3 {
  font-family:cursive;
  text-align: center;
  padding-bottom: 20px;
}

img {
  width: 300px;
  height:auto;
}

main {
  column-count: 3;
}

footer {
  text-align: right;
  text-decoration-style: wavy;
}
